body {font-size:12px;}
a {text-decoration:none}
td {line-height:20px; font-size:12px; text-align:center}
.w960{
	width:960px;
	/*position:relative;*/
}
.center{
	margin:0px auto;
}
.clear{
	overflow:hidden;
}
.mt1{/* ( margin-top * 1 ) */
	margin-top:8px;
}
.you {
	PADDING-LEFT: 0px; FLOAT: left
}
.dituiframe {
	PADDING-RIGHT: 10px; FLOAT: left; PADDING-BOTTOM: 20px
}
.iframe_ditu {
	WIDTH: 790px; HEIGHT: 600px;background-color:#00cc33; background-image:url(/abc/images/dituiframe-bg.gif);
}
.jiaxiao{border-bottom:dashed 1px #cccccc;}
.jiaxiao li{list-style:none; width:85px; float:left}
.fen {border:dashed 1px #cccccc; margin-top:10px; background-color:#F5F5F5;}
* {font-size:12px; font-weight:normal; }
.jj  { font-weight:bolder!important; }
.box { border-top-color:#c00!important; }
.pr { color:#060!important; }
#tab01 { position:relative; width:980px; height:88px; padding-top:15px; margin:5px; overflow:hidden; }
#tab01 h3 { position:relative; z-index:2; float:left; height:14px; padding:0 7px 0 8px; margin-left:-1px; border-left:solid 1px #ccc; border-right:solid 1px #fff; text-align:center; background:#fff; cursor:pointer; }
#tab01 h3.up { height:18px; padding:5px 7px 0 7px; margin:-6px 0 0 0; border:solid #ccc; border-width:1px 1px 0; color:#c00; }
#tab01 div { display:none; position:absolute; left:0; top:32px; z-index:1; width:945px; height:54px; padding:5px; border:solid 1px #ccc; color:#666; }
#tab01 div.up { display:block; }
#tab02 { position:relative; width:200px; margin:50px; border:solid #ccc; border-width:0 1px 1px; }
#tab02 h4 { height:18px; line-height:18px; border:solid #ccc; border-width:1px 0; margin-bottom:-1px; text-align:center; background:#f6f6f6; cursor:pointer; }
#tab02 h4.up { color:#c00; }
#tab02 ol { display:none; height:54px; padding:5px; color:#666; }
#tab02 ol.up { display:block; }
#tab03 { position:relative; width:100px; margin:50px; }
#tab03 h3 { position:relative; z-index:1; height:16px; padding-top:4px; margin-bottom:-1px; border:solid #ccc; border-width:1px 0 1px 1px; text-align:center; font-family:宋体; background:#eee; cursor:pointer; }
#tab03 h3.up { z-index:3; color:#c00; background:#fff; }
#tab03 div.tab { display:none; position:absolute; left:99px; top:0; z-index:2; width:300px; height:200px; padding:5px; border:solid 1px #ccc; color:#666; }
#tab03 div.tab.up { display:block; }
.fixed-box { position:fixed;}
* html .fixed-box { position:absolute; z-index:100; }
#leftbox {width:120px;background:#fff;top:105px;left:5px;font-size:12px;}
#rightbox {width:120px;background:#fff;top:105px;right:5px;font-size:12px;}