/*
* @Author:  CoronetLiu
* @Date:    2018-02-08 09:27:09
* @Last Modified by:    CoronetLiu
* @Last Modified time:  2018-02-09 14:22:31
* @Email:   liu86931@163.com
*/


/* reset */
html,body{
    background: #ccc;
}
*{
    margin:0;
    padding:0;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
image{
    border:none;
}

#header{
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}
.header-inner,.main-inner,.footer-inner{
    width:1200px;
    margin:0 auto;
}

/* header */
.header-inner{

}